// Soin Sans Pro Roman
@font-face {
    font-family: 'SoinSansPro-Roman';
    src: url('../fonts/SoinSansPro-Roman.eot');
    src: url('../fonts/SoinSansPro-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoinSansPro-Roman.woff2') format('woff2'),
        url('../fonts/SoinSansPro-Roman.woff') format('woff'),
        url('../fonts/SoinSansPro-Roman.ttf') format('truetype');
}

// Soin Sans Pro Oblique
@font-face {
    font-family: 'SoinSansPro-Oblique';
    src: url('../fonts/SoinSansPro-Oblique.eot');
    src: url('../fonts/SoinSansPro-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoinSansPro-Oblique.woff2') format('woff2'),
        url('../fonts/SoinSansPro-Oblique.woff') format('woff'),
        url('../fonts/SoinSansPro-Oblique.ttf') format('truetype');
}

// Soin Sans Pro Medium
@font-face {
    font-family: 'SoinSansPro-Medium';
    src: url('../fonts/SoinSansPro-Medium.eot');
    src: url('../fonts/SoinSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoinSansPro-Medium.woff2') format('woff2'),
        url('../fonts/SoinSansPro-Medium.woff') format('woff'),
        url('../fonts/SoinSansPro-Medium.ttf') format('truetype');
}

// Soin Sans Pro Medium Oblique
@font-face {
    font-family: 'SoinSansPro-MediumOblique';
    src: url('../fonts/SoinSansPro-MediumOblique.eot');
    src: url('../fonts/SoinSansPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SoinSansPro-MediumOblique.woff2') format('woff2'),
        url('../fonts/SoinSansPro-MediumOblique.woff') format('woff'),
        url('../fonts/SoinSansPro-MediumOblique.ttf') format('truetype');
}