// Colors -----------------------------------------------

$white: #fff;
$charcoal: #141412;

// Greys
$grey-1: #e4e2de; // lightest
$grey-2: #d6d3d0; // 
$grey-3: #7b7267; // darkest

// Reds
$red-1: #9e1d27; // lightest
$red-2: #891322;
$red-3: #66000c; // darkest

// Fonts ------------------------------------------------

$soinRoman: 'SoinSansPro-Roman';
$soinOblique: 'SoinSansPro-Oblique';
$soinMedium: 'SoinSansPro-Medium';
$soinMediumOblique: 'SoinSansPro-MediumOblique';